<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="he-IL" class="no-js"> <!--<![endif]-->
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description%}{% endblock %}">

    {% block css %}
    {#<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">#}
    <link href="{{ url_for('static', filename='css/bootstrap.rtl.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% endblock css %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock head %}
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">דו&quot;חות המפקח הכללי</a>
                <div class="nav-collapse collapse">
                    <!--<p class="navbar-text pull-right">-->
                    <!--Logged in as <a href="#" class="navbar-link">Username</a>-->
                    <!--</p>-->
                    <ul class="nav">
                        <li class="active"><a href="#">ראשי</a></li>
                        <li><a href="#about">הוסף</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </nav>

    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span2">
                <img src="{{ url_for('static', filename='img/menorah.png') }}" alt="דו&quot;חות המפקח הכללי לענייני ביקורת המדינה">
            </div>
            <div class="span10">
                <h1><a href="#">דו&quot;חות המפקח הכללי</a></h1>
                <p>לענייני ביקורת המדינה</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="filters" class="row"> 
            <div id="searchwidget" class="span4">
                <h4>סינון:</h4>
                <form id="searchbar" class="form-search" action="#">
                    <fieldset id="search">
                        <input id="searchbox" class="input-xlarge search-query" name="xlInput" type="text" placeholder="משרד הבטחון" autocomplete="off">
                    </fieldset>
                </form>
            </div>

            <div id="orderstats" class="span4" style="display: inherit; ">
                <h4>סידור לפי:</h4>
                <div id="sort" class="btn-group" data-toggle="buttons-radio">
                    <button class="btn btn-inverse" value="original">פרק</button>
                    <button class="btn btn-inverse" value="ministry">משרד</button>
                    <button class="btn btn-inverse" value="year">שנה</button>
                </div>
            </div>

            <div id="stats" class="span4">
                <h4 id="summary-header">סיכום התצוגה הנוכחית:</h4>
                <div id="summary" class="summary">  <a class="total rel-tooltip" data-original-title="כלל ההמלצות בתצוגה זו">139 <span>סך הכל</span></a>
                    <a class="implemented rel-tooltip" data-original-title="מדד התפוקה יושם: הצעדים שהממשלה הייתה צריכה לעשות בוצעו. עם זאת, הישום אינו מבטיח השגה של מדד התוצאה">26 <span>יושמו</span></a>
                    <a class="in_progress rel-tooltip" data-original-title="ההמלצה נמצאת בטיפול. הסיבות לכך הן לרוב: חקיקה בכנסת, ועדות הדנות בנושא, או שההמלצה היא חלק מתוכנית חומש">40 <span>בתהליך</span></a>
                    <a class="stuck rel-tooltip" data-original-title="ההמלצה בטיפול, אבל יש גורמים חיצוניים שמעכבים אותה, או שלא התקבל עדכון מטעם הממשלה בחצי השנה האחרונה">49 <span>תקועות</span></a>
                    <a class="news rel-tooltip" data-original-title="ההמלצה לא אומצה כלל">22 <span>לא אומצו</span></a>
                    <a class="conflict rel-tooltip" data-original-title="קיימת אי הסכמה לגבי הסטטוס בין הגופים העוקבים והממשלה">2 <span><span>בקונ</span>פליקט</span></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
