<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="he-IL" class="no-js"> <!--<![endif]-->
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description%}{% endblock %}">

  {% block css %}
  <link href="{{ url_for('static', filename='css/bootstrap.rtl.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
  {% endblock css %}

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% endblock head %}
</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">דו&quot;חות המפקח הכללי</a>
        <div class="nav-collapse collapse">
          <!--<p class="navbar-text pull-right">-->
          <!--Logged in as <a href="#" class="navbar-link">Username</a>-->
          <!--</p>-->
          <ul class="nav">
            <li class="active"><a href="#">ראשי</a></li>
            <li><a href="#about">הוסף</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  {% block header %} {% endblock %}
  {% block body %} {% endblock %}
  {% block footer %} {% endblock %}
</body>
</html>
