@import "scssbase";

h1, label, legend, .help-block {
  color: white;
}

legend {
  margin-bottom: 5px;
  font-size: 1.5em;
  border-style: none;
}

input[type="text"], input[type="number"], textarea {
  font-family: "PauzaFOT", Arial, sans-serif;
  font-size: 1.2em;
}

label.radio {
  margin-left: 20px;
  padding-right: 2px;
  font-size: 2em;
}

input[type="radio"]:checked + label {
  color: #fffcd9;
}
