@import "scssbase";


@include font-face("PauzaFOT",
                   font-files(font-url("pauzafot-book-webfont.woff", true),
                              font-url("pauzafot-book-webfont.ttf", true),
                              font-url("pauzafot-book-webfont.svg", true)),
                   font-url("pauzafot-book-webfont.eot", true));


body {
  font-family: "PauzaFOT", Arial, sans-serif;
  background-color: #58606b;
}

a, li {
  color: white;
  &:hover {
    @include unstyled-link;
    color: #d9d9d9;
  }
}

h4 {
  color: #808998;
}

.hero-unit {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  @include border-radius(0);
}

.page-header {
  margin: 0 0 20px 0;
  padding: 10px 40px 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: none;
}
