@import "scssbase";


#searchbox {
  height: 30px;
  font-size: 25px;
}

#sort {
  > .btn, > .btn-inverse {
    padding: 10px;
    font-size: 20px !important;
    color: white;
    background-color: #485259;
    &:hover {
      background-color: #343742;
    }
    &:active {
      border-color: black;
    }
  }
}

.item {
  @include background(image-url("card.png") right top no-repeat);
}
