/* line 3, ../sass/add.scss */
h1, label, legend, .help-block {
  color: white;
}

/* line 7, ../sass/add.scss */
legend {
  margin-bottom: 5px;
  font-size: 1.5em;
  border-style: none;
}

/* line 13, ../sass/add.scss */
input[type="text"], input[type="number"], textarea {
  font-family: "PauzaFOT", Arial, sans-serif;
  font-size: 1.2em;
}

/* line 18, ../sass/add.scss */
label.radio {
  margin-left: 20px;
  padding-right: 2px;
  font-size: 2em;
}

/* line 24, ../sass/add.scss */
input[type="radio"]:checked + label {
  color: #fffcd9;
}
