@font-face {
  font-family: "PauzaFOT";
  src: url(/static/fonts/pauzafot-book-webfont.eot);
  src: url(/static/fonts/pauzafot-book-webfont.eot?#iefix) format('eot'), url(/static/fonts/pauzafot-book-webfont.woff) format('woff'), url(/static/fonts/pauzafot-book-webfont.ttf) format('truetype'), url(/static/fonts/pauzafot-book-webfont.svg) format('svg');
}

/* line 11, ../sass/base.scss */
body {
  font-family: "PauzaFOT", Arial, sans-serif;
  background-color: #58606b;
}

/* line 16, ../sass/base.scss */
a, li {
  color: white;
}
/* line 18, ../sass/base.scss */
a:hover, li:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #d9d9d9;
}
/* line 6, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:hover:active, a:hover:focus, li:hover:active, li:hover:focus {
  outline: none;
}

/* line 24, ../sass/base.scss */
h4 {
  color: #808998;
}

/* line 28, ../sass/base.scss */
.hero-unit {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 34, ../sass/base.scss */
.page-header {
  margin: 0 0 20px 0;
  padding: 10px 40px 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: none;
}
