@font-face {
  font-family: "PauzaFOT";
  src: url('../../server/fonts/eot("/static/fonts/pauzafot-book-webfont.eot")');
  src: url('../../server/fonts/eot("/static/fonts/pauzafot-book-webfont.eot")?#iefix') format('eot'), url(/static/fonts/pauzafot-book-webfont.woff) format('woff'), url(/static/fonts/pauzafot-book-webfont.ttf) format('truetype'), url(/static/fonts/pauzafot-book-webfont.svg) format('svg');
}

/* line 9, ../sass/base.scss */
body {
  font-family: "PauzaFOT";
  background-color: #58606b;
}

/* line 15, ../sass/base.scss */
a:hover, li:hover {
  text-decoration: none;
}

/* line 20, ../sass/base.scss */
.hero-unit {
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 24, ../sass/base.scss */
.hero-unit a, .hero-unit h1, .hero-unit h2, .hero-unit h3 {
  color: white;
}
/* line 27, ../sass/base.scss */
.hero-unit a:hover {
  color: #d9d9d9;
}

/* line 32, ../sass/base.scss */
#filters {
  margin-bottom: 20px;
  padding: 10px 0 30px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 38, ../sass/base.scss */
h4 {
  color: #808998;
}

/* line 42, ../sass/base.scss */
#searchbox {
  height: 30px;
  font-size: 25px;
}

/* line 47, ../sass/base.scss */
.btn, .btn-inverse {
  padding: 10px;
  font-size: 20px !important;
}

/* line 53, ../sass/base.scss */
#sort > .btn {
  color: white;
  background-color: #30343b;
}
/* line 56, ../sass/base.scss */
#sort > .btn:hover {
  background-color: #22252a;
}
/* line 59, ../sass/base.scss */
#sort > .btn:active {
  border-color: black;
}

/* line 65, ../sass/base.scss */
.item {
  margin-bottom: 13px;
  padding-left: 104px;
  width: 298px;
  height: 864px;
  background: url("/static/img/card.png") right top no-repeat;
}
/* line 71, ../sass/base.scss */
.item div {
  margin: 0 10px;
}

/* line 77, ../sass/base.scss */
.tags ul {
  margin: 0 0 10px 0;
  list-style: disc;
}
/* line 80, ../sass/base.scss */
.tags ul li {
  float: right;
  margin: 0 0 3px 5px;
  padding-right: 13px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  font-size: 0.7em;
  background: url("/static/img/taghead.png") no-repeat right top;
  list-style: none outside none;
}
/* line 90, ../sass/base.scss */
.tags ul li a {
  display: block;
  padding: 0px 5px 1px;
  font-weight: 700px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  color: #fffcd9;
  background-color: #e4daac;
}
/* line 100, ../sass/base.scss */
.tags ul li:hover {
  background-position: right bottom;
}
/* line 102, ../sass/base.scss */
.tags ul li:hover a {
  background-color: #c4bb91;
}

/* line 111, ../sass/base.scss */
.item div .stamp {
  float: left;
  margin: -3px 0 -11px -18px;
  right: 240px;
  height: 40px;
  width: 80px;
  overflow: hidden;
  text-indent: -200%;
  background: url("/static/img/stamp-accepted.png");
}
/* line 121, ../sass/base.scss */
.item div .stamp-fixed {
  background: url("/static/img/stamp-fixed.png");
}
/* line 124, ../sass/base.scss */
.item div .stamp-in-progress {
  background: url("/static/img/stamp-in-progress.png");
}
/* line 127, ../sass/base.scss */
.item div .stamp-unfixed {
  background: url("/static/img/stamp-unfixed.png");
}
/* line 131, ../sass/base.scss */
.item h2 {
  font-weight: 400;
  font-size: 1.5em;
  clear: both;
  margin: 1.3em 10px 0.5em;
  line-height: 1em;
  background: url("/static/img/hr.png");
}
/* line 138, ../sass/base.scss */
.item h2:hover {
  background: url("/static/img/hr.png");
}
/* line 141, ../sass/base.scss */
.item h2 a {
  display: block;
  padding: 15px;
  color: #FFFCD9;
}
/* line 147, ../sass/base.scss */
.item h3 {
  font-family: Arial,Sans;
  font-size: 0.9em;
  font-weight: normal;
  color: #847D6B;
  padding: 0 5px;
  line-height: 0.5em;
}
/* line 155, ../sass/base.scss */
.item .chapter-fixed {
  background: #6BA688;
}
/* line 158, ../sass/base.scss */
.item .chapter-in-progress {
  background: #6ba688 url("/static/img/chapter-in-progress.png") 50% 50%;
}
/* line 161, ../sass/base.scss */
.item .chapter-unfixed {
  background: #F0776D;
}
/* line 164, ../sass/base.scss */
.item .entities {
  color: #847D6B;
  font-weight: normal;
}
/* line 167, ../sass/base.scss */
.item .entities p {
  padding: 5px;
  font-size: 1.2em;
}
/* line 170, ../sass/base.scss */
.item .entities p span {
  color: #3C3C3C;
}
/* line 175, ../sass/base.scss */
.item p {
  padding: 5px;
  font-size: 1.2em;
}
/* line 179, ../sass/base.scss */
.item .description {
  background: url("/static/img/hr.png") repeat-x center -2px;
  padding-top: 0.5em;
}
/* line 182, ../sass/base.scss */
.item .description p {
  overflow: hidden;
  height: 637px;
}
