/* line 4, ../sass/index.scss */
#searchbox {
  height: 30px;
  font-size: 25px;
}

/* line 10, ../sass/index.scss */
#sort > .btn, #sort > .btn-inverse {
  padding: 10px;
  font-size: 20px !important;
  color: white;
  background-color: #485259;
}
/* line 15, ../sass/index.scss */
#sort > .btn:hover, #sort > .btn-inverse:hover {
  background-color: #343742;
}
/* line 18, ../sass/index.scss */
#sort > .btn:active, #sort > .btn-inverse:active {
  border-color: black;
}

/* line 24, ../sass/index.scss */
.item {
  background: url('/static/img/card.png?1346689280') right top no-repeat;
}
