body {
    background-color: #58606b;
}

.hero-unit {
    border-radius: 0;
    background-color: rgba(0,0,0, 0.2);
}

.filters {
    padding: 10px;
}

h4 {
    color: #808998;
}

#searchbox {
    height: 30px;
    font-size: 25px;
}

.btn, .btn-inverse {
    padding: 10px;
    font-size: 20px !important;
}

#sort > .btn {
    color: white;
    background-color: rgb(48, 52, 59);
}

#sort > .btn:hover {
    background-color: rgb(34, 37, 42);
}

#sort > .btn:active {
    border-color: black;
}

