{% extends "base.html" %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block main_class %}active{% endblock %}

{% block header %}
<div class="hero-unit">
  <div id="title" class="row-fluid">
    <div class="span1">
      <img src="{{ url_for('static', filename='img/menorah.png') }}" alt="דו&quot;חות המפקח הכללי לענייני ביקורת המדינה">
    </div>
    <div class="span11">
      <h1><a href="#">דו&quot;חות המפקח הכללי <small>לענייני ביקורת המדינה</small></a></h1>
    </div>
  </div>
</div>

<div id="filters" class="row page-header"> 
  <div id="searchwidget" class="span8">
    <h4>סינון:</h4>
    <form id="searchbar" class="form-search" action="#">
      <fieldset id="search">
        <input id="searchbox" class="input-xxlarge search-query" name="xlInput" type="text" placeholder="לדוגמא: משרד הבטחון" autocomplete="off">
      </fieldset>
    </form>
  </div>

  <div id="orderstats" class="span4">
    <h4>סידור לפי:</h4>
    <div id="sort" class="btn-group" data-toggle="buttons-radio">
      <button class="btn btn-inverse" value="original">פרק</button>
      <button class="btn btn-inverse" value="ministry">משרד</button>
      <button class="btn btn-inverse" value="year">שנה</button>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="container">
  <div id="items" class="row">
    {% for defect in defects %}
    <div class="item span4">
      <div class="tags">
        <ul>
          {% for tag in defect.sub_chapter.tags|sort(attribute='name') %}<a href="#"><li>{{ tag.name }}</li></a>{% endfor %}
        </ul>
      </div>

      <div class="stamp {% if defect.status == "fixed" %}stamp-fixed{% elif defect.status == "in-progress" %}stamp-in-progress{% else %}stamp-unfixed{% endif %}"></div>

      <h2 class="chapter {% if defect.status == "fixed" %}chapter-fixed{% elif defect.status == "in-progress" %}chapter-in-progress{% else %}chapter-unfixed{% endif %}">
        <!--FIXME: Doesn't work.-->
        <a href="defect/{{ defect.id }}">{{ defect.sub_chapter.title }} - ליקוי {{ defect.order }}</a>
      </h2>

      <div class="entities">
        <h3>גופים מבוקרים:</h3>
        <p>{% for monitored_entity in defect.sub_chapter.monitored_entities|sort(attribute='name') %}<a href="#"><span>{{ monitored_entity.name }}</span></a>{% if not loop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      </div>

      <div class="description">
        <h3>תיאור:</h3>
        <p>{{ defect.description }}</p>
      </div>

      <div class="footer"></div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
